<div class="container-fiuld room-posts row">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>  
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <% if room.user_id == current_user.id %>
          <tr>
            <td><%= link_to image_tag(room.room_image.url, :size => "240x140"), room %></td>
            <td class="posts-name"><%= link_to room.name, room %></td>
            <td class="posts-content"><%= room.room_introduce %></td>
            <td class="rindex-f">¥ </a><%= room.price %></td>
            <td class="rindex-f"><%= room.created_at.strftime("%Y-%-m-%-d %-H:%M") %></td>
          </tr>
        <% end %>
      <% end %> 
    </tbody>
  </table>
</div>