<div class="row container">
  <div class="col-md-8">
    <div>
      <% if @room.room_image? %>
        <%= image_tag @room.room_image.url, class: "room-show-profile-image" %>
      <% else %>
        <%= image_tag("/images/icon/icon-mama-02-160px.png") %>
      <% end %>
    </div>
    <div class="room-show-detile">
      <div>
        <%= image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg", :size => "65x65" , class: "room-show-detile-icon") %>
      </div>
      <div class="room-show-profile">
        <p class="room-show-profile-name"><%= @room.name %></p>
        <p class="room-show-profile-address"><%= @room.address %></p>
      </div>
    </div>
    <div class="room-show-profie-introduce">
      <%= @room.room_introduce %>
    </div>
  </div>
  <div class="col-md-4 border room-show-nav">
    <%= form_for @reservation, method: :post, url: reservations_confirm_path do |form| %>
      <div class="field mb-3">
        ¥ <%= @room.price %> / 日
      </div>
      <div  class="form-group mb-3">
        <%= form.label :start_date, '開始日' %>
        <%= form.date_field :start_date, class: 'form-control' %>
      </div>
      <div  class="form-group mb-3">
        <%= form.label :end_date, '終了日' %>
        <%= form.date_field :end_date, class: 'form-control' %>
      </div>
      <div  class="form-group mb-3">
        <%= form.label :person_num, '人数' %>
        <%= form.number_field :person_num, class: 'form-control' %>
      </div>
      <% if logged_in? %>
        <div class="actions">
          <%= form.submit '予約する', class: 'btn btn-primary btn-block my-3 form-control' %>
        </div>
      <% else %>
        <a href="/login" class='btn btn-primary btn-block my-3 form-control'>予約する</a>
      <% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :room_id, value: @room.id %>
    <% end %>
  </div>
</div>